/* Variáveis */
$primary-color: #b1c7d29c;
$secondary-color: #5595b5;
$contrast-color: #25414f;
$text-color: #333;
$background-color: #cbdce291;
$font-family: "Poppins", sans-serif;

html {
    scroll-behavior: smooth;
}

/* Estilos gerais */
body {
    font-family: $font-family;
    margin: 0;
    background-color: $background-color;
    color: $text-color;
}

header {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 20px;
    background-color: $primary-color;
    border-radius: 15px;

    .logo img {
        width: 100px;
    }
}

main {
    padding: 50px;
    text-align: center;

    .intro {
        h1 {
            font-size: 2.5em;
            color: $contrast-color;
        }

        p {
            font-size: 1.2em;
            margin-top: 10px;
        }
    }
}

