<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Gráficos Neural Track</title>

    <!-- Arquivo CSS compilado a partir de SCSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script> <!-- Socket.IO -->
</head>

<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='img/Logo original para fundo branco.png') }}" alt="Logo da Empresa">
        </div>
    </header>

    <!-- Corpo principal da landing page -->
    <main>
        <section class="intro">
            <h1> MONITORAMENTO EM TEMPO REAL </h1>
        </section>

        <!-- Gráficos interativos Chart.js -->
        <section class="dashboard">
            <div class="charts-container">
                <div class="chart-card">
                    <h3>Tensão Muscular</h3>
                    <canvas id="muscleTensionChart"></canvas> <!-- Gráfico Tensão Muscular -->
                </div>
                <div class="chart-card">
                    <h3>Frequência Cardíaca</h3>
                    <canvas id="heartRateChart"></canvas> <!-- Gráfico Frequência Cardíaca -->
                    <canvas id="performanceChart"></canvas>
                </div>
            </div>
        </section>

        <!-- Botão para resetar os dados e iniciar nova amostragem -->
        <form action="/reset" method="get">
            <button class="reset-button" type="submit">Resetar Amostragem</button>
        </form>
    </main>

    <script>
        const socket = io.connect('http://' + document.domain + ':' + location.port);  // Conecta ao servidor via Socket.IO

        const muscleTensionCtx = document.getElementById('muscleTensionChart').getContext('2d');
        const heartRateCtx = document.getElementById('heartRateChart').getContext('2d');

        // Inicializa os gráficos vazios
        const muscleTensionChart = new Chart(muscleTensionCtx, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'Tensão Muscular',
                    data: [],
                    backgroundColor: 'rgba(62, 142, 126, 0.2)',
                    borderColor: 'rgba(62, 142, 126, 1)',
                    borderWidth: 1,
                    fill: true
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const heartRateChart = new Chart(heartRateCtx, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'Frequência Cardíaca',
                    data: [],
                    backgroundColor: 'rgba(247, 200, 70, 0.2)',
                    borderColor: 'rgba(247, 200, 70, 1)',
                    borderWidth: 1,
                    fill: true
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        // Função para adicionar novos dados ao gráfico
        function addData(chart, label, data) {
            chart.data.labels.push(label);
            chart.data.datasets.forEach((dataset) => {
                dataset.data.push(data);
            });
            chart.update();
        }

        // Escuta os novos dados recebidos via Socket.IO
        socket.on('new_data', function(msg) {
            const timeLabel = `${muscleTensionChart.data.labels.length * 1}s`;  // Exemplo de label de tempo
            addData(muscleTensionChart, timeLabel, msg.emg);
            addData(heartRateChart, timeLabel, msg.heart);
        });
    </script>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script> <!-- Script para os gráficos Chart.js -->
</body>

</html>
